<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<!-- <iframe width="420" height="315" src="//www.youtube.com/embed/<%#= my_video_id_here %>" frameborder="0" allowfullscreen></iframe> -->
<iframe width="420" height="315" src="//www.youtube.com/embed/NTHBC6JOc4M" frameborder="0" allowfullscreen></iframe>