// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog_content {
  border: 1px solid #2f374c;
  background-color: #cddcee;
  font-size: 1.2em
}


.blog_index_section {padding-left: 20px;}